@import "src/app/shared/variables.scss";
.svg-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  width: 350px;
}
.new-svg-text {
  font-family: "Raleway";
  font-size: 45px;
  letter-spacing: 10px;
  // position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-anchor: middle;
  width: 0;
  transition: width 2s ease-in-out;

  // animation: typing 6s steps(80, end);
}

@keyframes moveUpAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-97px); /* Adjust the final position as needed */
  }
}
.move-up {
  animation: moveUpAnimation 2s ease forwards; /* Slow upward animation */
  transform-origin: center bottom;
}
// @keyframes typing {
//   from {
//     width: 0;
//     opacity: 0;
//   }

//   to {
//     opacity: 1;
//     width: 100%;
//   }
// }

@keyframes animatedStroke {
  0% {
    stroke-dashoffset: 0; /* Set to negative path length */
    stroke-dasharray: 140 790; /* Set to the path length */
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 900;
  }
}
.shape {
  stroke-width: 4px;
  cursor: pointer;
  stroke: #000000;
  animation: animatedStroke 3s linear 1; /* Adjust duration as needed */
}
