@import "src/app/shared/variables.scss";
.button-container {
  @each $property, $value in $flex-center-styles {
    #{$property}: $value;
    height: 100vh;
  }
}

// .svg-wrapper {
//   position: relative;
//   // top: 50%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   margin: 0 auto;
//   width: 320px;
//   // transform: scaleY(-1) scaleX(-1);
// }

@keyframes moveUpAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-94px); /* Adjust the final position as needed */
  }
}
.move-up {
  animation: moveUpAnimation 2s ease forwards; /* Slow upward animation */
  transform-origin: center bottom;
}

.new-svg-text {
  font-family: "Raleway";
  font-size: 45px;
  letter-spacing: 10px;
  
}
// @keyframes animatedStroke {
//   // 0% {
//   //   stroke-width: 6px;
//   //   stroke-dashoffset: 0; /* Set to negative path length */
//   //   stroke-dasharray: 140 790; /* Set to the path length */
//   // }
//   // 50% {
//   //   stroke-width: 6px;
//   //   stroke-dashoffset: 0;
//   //   stroke-dasharray: 790;
//   // }
//   0% {
//     stroke-dashoffset: 0; /* Set to the path length */
//     stroke-dasharray: 140 790; /* No visible stroke initially */
//   }
//   50% {
//     stroke-dashoffset: 0; /* Stroke is fully visible */
//     stroke-dasharray:  790; /* Length of the stroke */
//   }

// }
.shape {
  stroke-width: 4px;
  cursor: pointer;
  // transform: scaleY(-1) scaleX(-1);
  // transform-origin: center center;
  fill: transparent;
  stroke: #000000;
  // animation: animatedStroke 4s linear 1; /* Adjust duration as needed */
}
