@import "src/app/shared/variables.scss";
.button-container {
  @each $property, $value in $flex-center-styles {
    #{$property}: $value;
    height: 100vh;
  }
}

@keyframes moveUpAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-94px); /* Adjust the final position as needed */
  }
}
.move-up {
  animation: moveUpAnimation 2s ease forwards; /* Slow upward animation */
  transform-origin: center bottom;
}
// @keyframes typing {
//   from {
//     width: 0;
//     opacity: 0;
//   }

//   to {
//     opacity: 1;
//     width: 100%;
//   }
// }
.new-svg-text {
  font-family: "Raleway";
  font-size: 45px;
  letter-spacing: 10px;
  width: 0;
  transition: width 2.5s ease-in-out;
  // animation: typing 6s steps(80, end);
}
@keyframes animatedStroke {
  0% {
   
    stroke-dashoffset: 0; /* Set to negative path length */
    stroke-dasharray: 140 790; /* Set to the path length */
  }
  100% {
 
    stroke-dashoffset: 0;
    stroke-dasharray: 900;
  }

}
.shape {
  stroke-width: 4px;
  cursor: pointer;
  // transform: scaleY(-1) scaleX(-1);
  // transform-origin: center center;
  // opacity: 0;
  // fill: transparent;
  stroke: #000000;
  animation: animatedStroke 4s linear 1; /* Adjust duration as needed */
}
