
@keyframes appearButtons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.text-position {
  position: absolute;
  top: 70px; 
  left: 60px;
  font-family: "raleway", sans-serif;
  font-size: 24px; 
  letter-spacing: 1px;
  animation: appearButtons 3s ease forwards;
  margin-bottom: 10px;
}
.arrow-position {
  position: absolute;
  top: 20px;
  left: 15px;
  cursor: pointer;
  border-radius: 50%;
  // align-items: center;
  width: 45px;
  height: 45px;
  background-color: white;
  border: solid 2px;
  animation: appearButtons 3s ease forwards;
}
.filter-icon-container {
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  animation: appearButtons 3s ease forwards;
   border-radius: 15px;
  border: 2px solid black;
  padding: 7px 5px;
  background-color: white;
}
.grid-container {
  display: grid;
  width: auto;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-template-rows: repeat(5, 1fr); /* 3 rows */
  row-gap: 15px;
  column-gap: 15px;
  margin-top: 115px; 
  margin-right: 25px;
  opacity: 0;
  animation: appearButtons 3s ease forwards;
  animation-delay: 2s;
}

.grid-button {
  white-space: normal;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: bold;
  padding: 40px 0px;
  background: white;
  border: 2px solid;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  grid-column: span 1; // Default to single column
}
.grid-button:nth-child(4n - 3) {
  grid-column: span 2;
}
