<div class="filter-icon-container">
  <!-- <i class="fas fa-filter fa-2xl"></i> -->
  <i class="fa fa-sliders fa-flip-both fa-2x icon-with-border"></i>
</div>
<div class="button-container">
  <div class="svg-wrapper">
    <svg height="100" width="350" xmlns="http://www.w3.org/2000/svg">
      <text
        class="text"
        x="50%"
        y="50%"
        dominant-baseline="middle"
        text-anchor="middle"
      >
        NAIYANI
      </text>
      <rect class="shape" height="100" width="350" />
    </svg>
  </div>
  <div class="buttons-container">
    <div>
      <button class="gradient-button username-button">
        <i class="fa-solid fa-user fa-2xl"></i>
      </button>
    </div>
    <div>
      <button class="gradient-button password-button">
        <i class="fas fa-key fa-2xl"></i>
      </button>
    </div>
    <div>
      <button class="arrow-button">
        <i class="fa fa-arrow-right fa-xl"></i>
      </button>
    </div>
  </div>
</div>
