.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  overflow-y: hidden;
}

.letter {
  font-size: 36px;
  letter-spacing: 8px;
  color: black;
  opacity: 0;
  animation: letter-fade 3s ease-in-out forwards;
}

@keyframes letter-fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
