
<div class="outer-container">
    
<div class ="container">
  
<p>NAIYANI</p>
</div>
</div>
<!-- 
<div class="outer-container">
  <div class="container">
    <svg xmlns="http://www.w3.org/2000/svg" >
     <text x="50%"
      y="50%"
      dominant-baseline="middle"
      text-anchor="middle" class="newShape svg-text">NAIYANI</text>
    </svg>
  </div>
</div>  -->
<!-- <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 350 100" class="outer-container">
  <text x="50" y="50" class="container">
    NAIYANI
  </text>
  <animate attributeName="x" from="-200" to="50" dur="2s" begin="0s" fill="freeze" repeatCount="1" />
  <animate attributeName="opacity" from="0" to="1" dur="2s" begin="0s" fill="freeze" repeatCount="1" />
</svg> -->
