<div>
  <!-- <i class="fas fa-filter fa-2xl"></i> -->
  <!-- <i class="fa fa-arrow-circle-left fa-3x position" aria-hidden="true"></i> -->
  <button class="arrow-position">
    <i class="fa fa-arrow-left fa-2x"></i>
  </button>
  <button class="filter-icon-container">
    <i class="fa fa-sliders fa-flip-both fa-2x"></i>
  </button>
</div>
<div class="text-position"><span>Hello, Username </span></div>

<div class="banner-container">
  <button class="banner-button text">DATABASE</button>
</div>

<div class="grid-container">
  <button class="grid-button">BOOKS</button>
  <button class="grid-button">HEALTH & BEAUTY</button>
  <button class="grid-button">ELECTRONICS</button>
  <button class="grid-button">HOME & KITCHEN</button>
  <button class="grid-button">SOFTWARE & MOBILE APPS</button>
  <button class="grid-button">CLOTHING & ACCESSORIES</button>
  <button class="grid-button">TOOLS & HOME</button>
  <button class="grid-button">SPORTS & OUTDOORS</button>
  <button class="grid-button">MOVIES & TV</button>
  <button class="grid-button">TOYS & GAMES</button>
  <button class="grid-button">GROCERY & GOURMET FOOD</button>
  <button class="grid-button">OFFICE PRODUCTS</button>
  <button class="grid-button">PET SUPPLIES</button>
  <button class="grid-button">AUTOMOTIVE & INDUSTRIAL</button>
  <button class="grid-button">VIEW ALL</button>
</div>
