.outer-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  width: auto;
  background-color: pink;
}
.container {
  display: flex;
  height: 128px;
  // border: 3px solid;
  width: 100%;
  align-items: center;
  background-color: yellow;
}
p {
  margin-left: 38px;
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  // font-family: "Raleway", sans-serif;
  font-family: "ElaineSans-Regular", sans-serif;
  font-size: 55px;
  letter-spacing: 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  /*   opacity: 0; */
  animation: linearwipe 2s steps(200, end);
}

@keyframes linearwipe {
  from {
    width: 0;
    /* opacity: 0; */
  }
}

.services {
  background-color: green;
  // min-height: 100vh;
  width: 380px;
  height: 128px;
  align-items: center;
}

.services .content .box {
  /* width: 200px;
  float: left;
  padding: 15px; */
  float: right;
  display: flex;
  height: 128px;
  width: 380px;
  align-items: center;
}

.services .content .box .inner {
  height: 128px;
  width: 380px;
  position: relative;
}

.services .content .box .inner::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-bottom: 2px solid transparent;
  transition: 0.8s ease;
  animation: expandBorder1 2s forwards;
}

.services .content .box .inner::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-top: 2px solid transparent;
  background-color: transparent;

  animation: expandBorder1 2s forwards;
}

.services .content .box1 {
  float: right;
  height: 128px;
  width: 380px;
  align-items: center;
  transform: translateY(-128px);
}
.services .content .box1 .inner1 {
  padding: 50px;
  position: relative;
  height: 128px;
  width: 380px;
}
.services .content .box1 .inner1::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-right: 2px solid transparent;
  transition: 0.8s ease;
  animation: expandBorder2 2s forwards;
  animation-delay: 2s;
}
.services .content .box1 .inner1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-left: 2px solid transparent;
  background-color: transparent;

  animation: expandBorder2 2s forwards;
  animation-delay: 2s;
}
@keyframes expandBorder1 {
  0% {
    width: 0;

    border-color: transparent;
  }
  100% {
    width: 100%;

    border-color: black;
  }
}
@keyframes expandBorder2 {
  0% {
    height: 0;
    border-color: transparent;
  }
  100% {
    height: 128px;
    border-color: black;
  }
}
@keyframes moveUpAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-165px); /* Adjust the final position as needed */
  }
}
.move-up {
  animation: moveUpAnimation 2s ease forwards; /* Slow upward animation */
  transform-origin: center bottom;
}
@media screen and (max-width: 768px) {
  .container {
    width: 300px;
  }
  p {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 40px;
    width: 300px;
  }
  .services {
    width: 300px;
  }

  .services .content .box {
    width: 300px;
  }

  .services .content .box .inner {
    width: 300px;
  }

  .services .content .box1 {
    height: 128px;
    width: 300px;
  }
  .services .content .box1 .inner1 {
    width: 300px;
  }
  .move-up {
    animation: moveUpAnimation 2s ease forwards; /* Slow upward animation */
    transform-origin: center bottom;
  }
}
@keyframes moveUpAnimationLandScape
{
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px); /* Adjust the final position as needed */
  }
}
@media screen and (orientation: landscape) {
 
  .move-up {
   animation: moveUpAnimationLandScape 2s ease forwards; /* Slow upward animation */
    transform-origin: center bottom;
}
}
