.outer-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  width: auto;
  // background-color: pink;
}

.services {
  // background-color: green;
  width: 380px;
  height: 128px;
}
.container {
  // display: flex;
  height: 128px;
  // border: 3px solid;
  width: 100%;
  // background-color: yellow;
}
.moveLines {
  margin-top: -128px;
}
.move-up {
  animation: moveUpAnimation 2s ease forwards; /* Slow upward animation */
  transform-origin: center bottom;
}
@keyframes moveUpAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-128px);
  }
}

p {
  margin-left: 32px;
  margin-right: 15px;
  margin-top: 20px;
  // font-family: "Raleway", sans-serif;
  font-family: "ElaineSans-Regular", sans-serif;
  font-size: 58px;
  letter-spacing: 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: linearwipe 2s steps(200, end);
}

@keyframes linearwipe {
  from {
    width: 0;
  }
}
.gradient {
  animation: change-color 2s linear forwards;
}

@keyframes change-color {
  0% {
    color: rgb(220, 220, 220);
  }

  100% {
    color: black;
  }
}

.services .content .box {
  display: flex;
  height: 128px;
  width: 380px;
  align-items: center;
}

.services .content .box .inner {
  height: 128px;
  width: 380px;
  position: relative;
}

.services .content .box .inner::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: 2px solid transparent;
  transition: 0.8s ease;
  animation: expandBorder1 2s forwards;
}

.services .content .box .inner::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  border-top: 2px solid transparent;
  background-color: transparent;

  animation: expandBorder1 2s forwards;
}

.services .content .box1 {
  height: 128px;
  width: 380px;
  transform: translateY(-128px);
}

.services .content .box1 .inner1 {
  padding: 50px;
  position: relative;
  height: 128px;
  width: 380px;
}

.services .content .box1 .inner1::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-right: 2px solid transparent;
  transition: 0.8s ease;
  animation: expandBorder2 2s forwards;
  animation-delay: 2s;
}
.services .content .box1 .inner1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-left: 2px solid transparent;
  background-color: transparent;

  animation: expandBorder2 2s forwards;
  animation-delay: 2s;
}
@keyframes expandBorder1 {
  0% {
    width: 0;

    border-color: transparent;
  }
  100% {
    width: 100%;

    border-color: black;
  }
}
@keyframes expandBorder2 {
  0% {
    height: 0;
    border-color: transparent;
  }
  100% {
    height: 128px;
    border-color: black;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 300px;
    height: 100px;
  }
  .moveLines {
    margin-top: -100px;
  }
  p {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 40px;
    width: 300px;
  }
  .services {
    width: 300px;
    height: 100px;
  }

  .services .content .box {
    width: 300px;
    height: 100px;
  }

  .services .content .box .inner {
    width: 300px;
    height: 100px;
  }

  .services .content .box1 {
    width: 300px;
    height: 100px;
    transform: translateY(-100px);
  }
  .services .content .box1 .inner1 {
    width: 300px;
    height: 100px;
  }

  .services .content .box1 .inner1::before {
    animation: expandBorderLine2 2s forwards;
    animation-delay: 2s;
  }
  .services .content .box1 .inner1::after {
    animation: expandBorderLine2 2s forwards;
    animation-delay: 2s;
  }

  .move-up {
    animation: moveUpAnimation 2s ease forwards; /* Slow upward animation */
    transform-origin: center bottom;
  }
}

@keyframes expandBorderLine2 {
  0% {
    height: 0;
    border-color: transparent;
  }
  100% {
    height: 100px;
    border-color: black;
  }
}

@media screen and (orientation: landscape) {
  .move-up {
    animation: moveUpAnimationLandScape 2s ease forwards; /* Slow upward animation */
    transform-origin: center bottom;
  }
}

@keyframes moveUpAnimationLandScape {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px); /* Adjust the final position as needed */
  }
}
