<div>
  <!-- <i class="fas fa-filter fa-2xl"></i> -->
  <!-- <i class="fa fa-arrow-circle-left fa-3x position" aria-hidden="true"></i> -->
  <button class="arrow-position">
    <i class="fa fa-arrow-left fa-2x"></i>
  </button>
  <button class="filter-icon-container">
    <i
      class="fa fa-sliders fa-flip-both fa-2x"
    ></i>
  </button>
</div>
<div class="text-position"><span>Hello, Username</span></div>
<div class="banner-container">
  <button class="banner-button text">DATABASE</button>
</div>
