// @import "@fontsource/raleway/700.css";

.text-position {
  position: absolute;
  top: 70px; /* Adjust the top position as needed */
  left: 60px; /* Adjust the left position as needed */
  // font-family: "Raleway";
  font-family: "Calibri-Bold", sans-serif;
  font-size: 26px; /* Adjust the font size as needed */

  letter-spacing: 1px;
  animation: appearButtons 2.5s ease forwards;
}
.arrow-position {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 15px;
  cursor: pointer;
  border-radius: 50%;
  // text-align: center;
  width: 45px;
  height: 45px;
  background-color: white;
  border: solid 2px;
  animation: appearButtons 2.5s ease forwards;
}
.filter-icon-container {
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  animation: appearButtons 2.5s ease forwards;
  border-radius: 15px;
  border: 2px solid black;
  padding: 7px 5px;
  background-color: white;
}
@keyframes appearButtons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  //  background-color: red;
  animation: appearButtons 3s ease forwards;
}
.banner-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0;
  // box-shadow: 4px 4px black;
   text-align:center;
  height: 60px;
  width: 220px;
  border: 2px solid;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Calibri-Bold", sans-serif;
  line-height:1;
  // font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  white-space: normal; /* Allow text to wrap */
}


@media screen and (max-width: 768px) {

  .text-position {
    font-weight: 24px;
  }
  .banner-button {
    font-size: 26px;
      line-height:1;
  }
}